.line {
  font-size: 0;
  width: 1px;
  height: 40px;
  color: #fff;
  background-color: #d3c5c5;
  margin: auto;
}

.form-group {
  margin: 0;
}

.form-control:focus {
  background-color: #fafafa;
  border-color: #80bdff;
  box-shadow: none;
}

.form-check {
  width: 40%;
  position: absolute;
}

.participant-2 {
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2px;
}

.participant-2:hover {
  background: #ebebeb;
}